<form [formGroup]="myForm">
  <label>Titre</label>
  <input type="text" formControlName="title"/>
  <label>Description</label>
  <input type="text" formControlName="description" />
</form>
<button (click)="onSubmit()">Submit</button>

<pre>{{myForm.value | json}}</pre>

<h1>To Do</h1>
<div *ngFor="let task of toDoList; let index = index" (click)="task.done=true">
  <ng-container *ngIf="!task.done">
    <div>{{task.title}}</div>
    <div>{{task.description}}</div>
    <button (click)="toDoList.splice(index, 1)">Supprimer</button>
  </ng-container>

</div>

<h1>Done</h1>
<div *ngFor="let task of toDoList; let index = index" (click)="task.done=false">
  <ng-container *ngIf="task.done">
    <div>{{task.title}}</div>
    <div>{{task.description}}</div>
    <button (click)="toDoList.splice(index, 1)">Supprimer</button>
  </ng-container>
</div>
