<div class="container">
  <div class="container-list">
    <h2>To Do</h2>
    <div *ngFor="let task of list; let i = index" (click)="task.done=true">
      <ng-container *ngIf="!task.done">
        <div>{{task.title}}</div>
        <div>{{task.description}}</div>
        <button class="btn" (click)="list.splice(i, 1)">Supprimer</button>
      </ng-container>
    </div>
  </div>

  <div class="container-list">
  <h2>Done</h2>
    <div *ngFor="let task of list; let i= index" (click)="task.done=false">
      <ng-container *ngIf="task.done">
        <div>{{task.title}}</div>
        <div>{{task.description}}</div>
        <button class="btn" (click)="list.splice(i, 1)">Supprimer</button>
      </ng-container>
    </div>
  </div>
</div>
